<head>
  <title>Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Kirk's Bits and Bytes Tech Blog</h1>
    <nav>
      <ul>
        <li><a href="../all">Home</a></li>&nbsp; | &nbsp;
        <li><a href="../dashboard.handlebars">Dashboard</a></li>&nbsp; | &nbsp;
        <li><a href="../login">Login</a></li>&nbsp; | &nbsp;
        <li><a href="../logout">Logout</a></li>&nbsp; | &nbsp;
      </ul>
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>

</body>

</html>