<head>
  <title>Kirk's Bits and Bytes Tech Blog</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>Kirk's Bits and Bytes Tech Blog</h1>
      <nav>
        <a href="/">Home</a> &nbsp;&nbsp; |&nbsp;&nbsp;

        <a href="/dashboard">Dashboard</a> &nbsp;&nbsp; |&nbsp;&nbsp;

        {{#if logged_in}}
            <button class="no-button" id="logout">logout</button>         
        {{else}}
            <a href="/login">Login</a> &nbsp;&nbsp; 
        {{/if}}
            
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>