<!-- This template includes hardcoded data. In future lessons, you will be rendering data dynamically. -->
<div class="menu-container createblg">

    <h3>Create a Blog:</h3>

    <form class="form blogPost">

      <label>Title:</label>
      <div class="row mb-2">
        <div class="col-md-8">
          <input type="text" id="title" />
        </div>
      </div>
      <label>Content:</label>
      <div class="row mb-2">
        <div class="col-md-8">
          <textarea id="content" name="content" rows="10" cols="100"></textarea>
        </div>        
      </div>
      <div class="col-md-4">
          <button class="btn btn-dark" type="submit">Submit Blog</button>
        </div>
    </form>
  </div>
</div>
<script src="/js/blog.js"></script>